html, body, .wrapper {
    height: 100%;
}

html {
    color: #fefefe;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 62.5%;
    overflow: hidden;
}

body {
    background: #dedede;
}

a {
    color: inherit;
    text-decoration: none;
}

.wrapper {
    max-width: 1700px;
    position: relative;
}

.vid-bg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
    object-fit: cover;
}

header {
    padding-left: 40px;
    height: 194px;
}

header:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
    background: #bebebe;
    width: 142px; /* 8.3529% */
    height: 169px;
    margin-top: 25px;
    background: url(../images/logo.jpg) no-repeat center;
}

nav {
    margin-left: 180px;
    padding-top: 90px; /* !!!!!!!!! */
    font-size: 4.15em;
}

nav li {
    display: inline;
}

nav li > a {
    display: inline-block;
    margin: 0 4.9%;
}

.submenu {
    position: absolute;
    width: 100%;
}

main {
    padding-left: 34.9412%;
    padding-right: 11.7647%;
}

main > p {
    display: inline;
    font-size: 3.2em;
    background: #000;
}

footer {
    position: fixed;
    display: table;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 37px;
    padding-left: 2.8235%;
}

.contacts {
    display: table-cell;
    width: 80%;
}

.socialmedias {
    letter-spacing: 25px;
}

.socialmedias a {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 21px;
}

.sm-fb {
    background-color: #366ea7;
}

.sm-vim {
    background-color: #3d86cd;
}

.sm-yt {
    background-color: #cd4638;
}

.phone {
    margin-top: 22px;
    font-size: 4.15em;
}

.mail {
    margin-top: 22px;
    font-size: 3.2em;
}

.langs {
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
    padding-right: 6.7647%;
}